Resturent voice agent.json
{
  "name": "Resturent voice agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0bb64d5b-f2ac-4c82-8c4f-6bfd3f39144e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -144
      ],
      "id": "82b74333-515b-4217-b01a-3684d71dcba6",
      "name": "Webhook",
      "webhookId": "0bb64d5b-f2ac-4c82-8c4f-6bfd3f39144e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message.artifact.messages[2].message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -144
      ],
      "id": "f41984e1-9df6-46b9-a5f8-90edcd4b6c14",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        16
      ],
      "id": "cd6c0f4e-97a4-433e-84d1-1885c91ed798",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "r1poGOM2UAqCEPew",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Its a resturent agent and its embeddings is save in pinecone"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        80,
        48
      ],
      "id": "5d4abbbb-a8fe-46ec-b313-3072e8add6c1",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "resturentagent",
          "mode": "list",
          "cachedResultName": "resturentagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -112,
        176
      ],
      "id": "a37e07a0-1726-41d2-9e01-007c10711e86",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "w3uThP56HWLxr9Xy",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        336
      ],
      "id": "6c600cb8-b1e1-4f12-813f-7920242640a9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "r1poGOM2UAqCEPew",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -144
      ],
      "id": "1cd95695-264d-467f-bb84-7ddc57c5d06f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "72a99b34-b4e6-4aa1-9071-a4e3d1d849b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05e8ae2509393087e279e94ef731b678ce5247544b415350218aa05ff48f415a"
  },
  "id": "ktOhCh2mt2w80X2k",
  "tags": []
}